.lds-ring {
    position: relative;
    margin: auto;
    top: 20rem;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #0f79d5;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0f79d5 transparent transparent transparent;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(4) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }